<div class="static_pages_layout">
  <div class="blue_page_heading"><h1>Art Storage</h1></div>
  <div class="container-fluid">
    <%= render partial: 'static_pages/common/find_storage_space_near_you' %>
    <div class="actual_page">
      <%= render partial: 'static_pages/common/heading_with_background', locals: { title: 'Art Storage', bg: 'art' } %>

      <main class="default_static_page_main">
        <center>
          <%= link_to(Rails.configuration.meta['art_storage_url'], class: 'button blue', target: '_blank') do %>
            Click Here To Visit Arcis Fine Art & Collection
          <% end %>
        </center>
      </main>
    </div>
  </div>
</div>

<%= content_for :title_tag, 'TI Art Studios | Treasure Island Storage' %>
<%= content_for :meta_description_tag, 'TI Art Studios provide more than 150 New York City visual artists with excellent studio space. Visit our website to learn more!' %>
