<div class="static_pages_layout">
  <div class="blue_page_heading"><h1>Storage Solutions</h1></div>
  <div class="container-fluid">
    <%= render partial: 'static_pages/common/find_storage_space_near_you' %>
    <div class="actual_page">
      <%= render partial: 'static_pages/common/heading_with_background', locals: { title: 'Storage Solutions', bg: 'index' } %>

      <%
        storage_types = [
          {
            title: 'Household Storage',
            description: "When you rent a Household Storage unit at Treasure Island Storage, you can expect Self Storage solutions that are as valuable to you as the items you choose to store. Start by taking an assessment of all the household items you don't use on a regular (monthly and/or yearly) basis. Be merciless with yourself: holiday decorations are only needed once a year, should they really take up all the space in your hall closet every day of the year?",
            image: 'household'
          },
          {
            title: 'Commercial Storage',
            description: "Commercial Storage at Treasure Island Storage helps many large and small businesses manage their secure file keeping needs, store excess inventory, and/or free up valuable office space. Affordable and easy – less than a dollar a day and you can manage your account online – Treasure Island Storage Commercial Storage can help you keep your business records safe and maximize your office productivity all with an eye on the bottom line.",
            image: 'commercial'
          },
          {
            title: 'Boat Storage',
            description: "Boat Storage at Treasure Island Storage is your one-stop, cost-effective and secure option for all boat owners. Our climate controlled Boat Storage units can help extend the life of your boat by protecting the vessel from the elements while providing extra protection from rust. Boat storage is available at almost all of our conveniently located facilities in New Jersey and New York.",
            image: 'boat'
          },
          {
            title: 'Vehicle Storage',
            description: "Treasure Island Storage is a safe and affordable choice when you need to store your automobile for any reason. It doesn't matter if your 'wheels' are vintage, brand new, or on the bottom of a golf cart, our climate controlled, drive-up Car Storage units are designed to protect your car from all of the elements and are available at all most of our Treasure Island Storage facilities in both New Jersey and New York.
              <h6>MOTORCYCLE STORAGE</h6>
              Motorcycle storage at Treasure Island Storage will help keep your motorcycle in prime condition throughout the seasons. Why leave your motorcycle at the mercy of the elements when you can rent a low cost, private alternative to a public garage, or worse, a city street?",
              image: 'vehicle'
          },
          {
            title: 'Wine Storage',
            description: "Wine Storage at Treasure Island Storage is coming soon.
              <ul>
                <li>State-of- the-art security system</li>
                <li>Climate-controlled for optimal wine cellar conditions</li>
                <li>Instant online access to your inventory and order requests</li>
                <li>Easy walk-in access</li>
                <li>Pickup and delivery services</li>
                <li>No case minimum requirements</li>
              </li>",
              image: 'wine'
          },
          {
            title: 'TI Art Studios',
            description: "Treasure Island Storage is committed to enriching the communities in which we live. TI Art Studios provide more than 150 New York City visual artists with excellent studio spaces and amenities all within a community of working artists on the third floor of a large warehouse at competitive rates. Additional features of the workspace include Sweet Lorraine Gallery, the Ceramics Arena work space, spray room and roof deck. The secure workspace also has 24/7 access, 6&#39; wide hallways, communal carts, ladders, scaffolding, refrigerators, microwaves, vending machines, two T-1 wireless internet lines, slop sinks, new bathrooms, trash removal and recycling. Private studios have floor-to- ceiling walls and a locking door. <br>
              <a>Learn more about TI Art Studios by visiting our website.</a>",
              image: 'ti_art_studios'
          }

        ]
      %>

      <main id="storage_solutions_page">
        <section class="tabs">
          <ul class="navigation" role="tablist">
            <% storage_types.each_with_index do |storage_type, i| %>
              <li class="nav-item">
                <a 
                  class="nav-link <%= i == 0 ? 'active' : '' %>" 
                  data-toggle="tab"
                  href="#storage_type_<%= i %>"
                  role="tab">
                  <%= storage_type[:title] %>
                </a>
              </li>
            <% end %>
          </ul>

          <div class="tab-content">
            <% storage_types.each_with_index do |storage_type, i| %>
              <div class="tab-pane <%= i == 0 ? 'active' : '' %>" id="storage_type_<%= i %>" role="tabpanel">
                <div class="underlined">
                  <h6 class="blue_heading">
                    <%= storage_type[:title] %>
                  </h6>
                </div>
                <article class="description">
                  <%= image_tag "static_pages/storage_solutions/#{storage_type[:image]}.jpg" %>
                  <%= storage_type[:description].html_safe %>
                </article>
              </div>
            <% end %>
          </div>
        </section>
      </main>
    </div>
  </div>
</div>

<%= content_for :title_tag, 'Storage Solutions | Treasure Island Storage' %>
<%= content_for :meta_description_tag, 'Treasure Island Storage has the storage solutions you are looking for. Visit our website to learn more about our services.' %>
