<%= render partial: 'common/breadcrumbs', locals: { links: ['Search'] } %>

<main id="search_index_page">
  <div class="container-fluid">
    <%= render partial: 'common/search_field_and_ad' %>
    <%= react_component('Search_Index_SearchResultsMobileAndDesktop', { storages: all_sites })%>
  </div>
</main>

<%= render 'common/sizing_guide_modal' %>

<%= content_for :title_tag, 'Search' %>
<%= content_for :meta_description_tag, 'Search for a storage unit. Our NYC facilities include locations in Red Hook, Ozone Park, Jamaica. We also offer storage locations in NJ.' %>
