<section class="step_1 step block">
  <%= form_for @reservation, url: checkout_step_1_path do |f| %>
    <h5 class="block_heading">Lock in Your Rate Now.</h5>

    <section class="explanation">
      <div class="row">
        <div class="col-xl-10">
          <p class="order_to_lock_in_rate">
            Enter your information below to lock in your discounted storage rate today.
          </p>

          <div class="rent_or_reserve_radios">
            <h4 class="please_choose_one">Please Choose One</h4>

            <label class="rent custom-control custom-radio">
              <input name="rent_or_reserve" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <div class="custom-control-description">
                <h5>Express Check-In</h5>
                <p>Take advantage of our fast and easy online rental service, as it will save you precious time at the facility and it’s free of charge.  Your unit is guaranteed in 2 easy steps, by simply selecting a location, and unit size you can rent a storage within minutes.</p>
              </div>
            </label>

            <div class="or">
              – Or –
            </div>

            <label class="reserve custom-control custom-radio">
              <input name="rent_or_reserve" type="radio" class="custom-control-input">
              <span class="custom-control-indicator"></span>
              <div class="custom-control-description">
                <h5>Reserve Room</h5>
                <p>Hold a unit and lock in the current rate for up to 7 days with no obligation.  This free service allows you to take your time with unit selection until you decide complete the rental.</p>
              </div>
            </label>

          </div>
        </div>
        <div class="col-xl-2 norton">
          <%= image_tag 'checkout/norton.png' %>
        </div>
      </div>
    </section>

    <section class="general_client_info">
      <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
      <%= f.text_field :email, placeholder: "Email Address", class: "form-control" %>
      <%= f.text_field :phone, placeholder: "Phone Number", class: "form-control" %>
      <%= f.date_field :move_in_date, placeholder: "Move-In Date", class: "form-control" %>

      <%= f.submit "Continue", class: 'button red' %>
    </section>

    <section class="sign_up_for_moving_services">
      <label class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Need help moving?</span>
      </label>

      <a class="change_something">What are Moving Services?</a>

      <div class="footnote">
        *Storage units will be held for 14 days
      </div>
    </section>
  <% end %>
</section>
