<section class="step_navigation">
  <div class="row">
    <div class="col-md-6">
      
      <% case session[:current_step] 
         when 1 %>
        <h2>Step 1: Reserve Your Space. No Credit Card Required</h2>
      <% when 2 %>
        <h2>Step 2: Confirm Your Reservation</h2>
      <% when nil %>
        <h2>Step 1: Reserve Your Space. No Credit Card Required</h2>
      <% end %>
    </div>

    <div class="col-md-6 steps">
      <div class="titles">
        <h5 class="<%= 'active' if session[:current_step] == 1 %>">Step 1</h5>
        <h5 class="<%= 'active' if session[:current_step] == 2 %>">Step 2</h5>
        <h5 class="<%= 'active' if session[:current_step] == nil %>">Step 3</h5>
      </div>

      <% case session[:current_step] 
         when 1 %>
        <%= image_tag 'checkout/step_1_active.png' %>
      <% when 2 %>
        <%= image_tag 'checkout/step_2_active.png' %>
      <% when nil %>
        <%= image_tag 'checkout/step_3_active.png' %>
      <% end %>
      
    </div>
  </div>
</section>