<%= render partial: 'common/breadcrumbs', locals: {
  links: [
    link_to(@area.title, [@area.path_prefix]),
    @site.title
  ]
} %>

<main id="locations_show_page">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12">
        <h1 class="standard_page_heading">Reserve Your Space Today!</h1>
      </div>
    </div>

    <%= render partial: 'common/search_field_and_ad', locals: { ad_src: '_common/ads/amazon_rectangular.png' } %>

    <%= render partial: 'common/storage_view', locals: { storage: @site } %>

    <section class="extensive_information">
      <% tab_ids = [:storage_units, :features, :directions, :videos, :hours, :map, :reviews] %>
      <ul class="tab_navigation nav nav-tabs">
        <% tab_ids.each do |tab_id| %>
          <li class="nav-item <%='site-tab' if [:storage_units, :features, :directions, :videos].include?(tab_id) %><%='mobile-tab' if [:hours, :map].include?(tab_id)%>">
            <a href="#<%= tab_id %>" class="<%= tab_id == :storage_units ? 'active' : '' %> nav-link" data-toggle="tab">
              <%= tab_id.to_s.titleize %>
            </a>
          </li>
          <% if tab_id == :storage_units %>
            <li class="nav-item mobile-tab">
              <a href="#<%= tab_id %>" class="nav-link" data-toggle="tab">
                <%= "Units" %>
              </a>
            </li>
          <% end %>
        <% end %>
      </ul>

      <div class="tab-content">
        <article class="tab-pane active" id="storage_units">
          <%= render(partial: 'units') %>
        </article>
        <article class="tab-pane site-tab" id="features">
          <ul>
            <% @site.features.each do |feature| %>
              <li><%= feature %></li>
            <% end %>
          </ul>
        </article>
        <article class="tab-pane site-tab" id="directions">
          <%= @site.directions.html_safe %>
        </article>
        <article class="tab-pane site-tab" id="videos">
          <ul>
            <li>Coming Soon</li>
          </ul>
        </article>
        <article class="tab-pane mobile-tab" id="hours">
          <section class="info first">
            <h5 class="title"><%= @site.title %></h5>
            <div class="address">
              <h6>Location</h6>
              <p>
                <%= @site.address_1 %>
                <%= @site.city_state_and_zip %>
              </p>
            </div>

            <div class="phone_number">
              <h6>Phone number</h6>
              <p><%= number_to_phone(@site.phone) %></p>
            </div>

            <%= react_component('FetchableStorageRating', { placeId: @site.place_id, numberIsDisplayed: true }) %>
            <%= link_to('Read Reviews', [@site.area.path_prefix, @site, anchor: :reviews], class: 'read_reviews') %>
          </section>

          <section class="info second">
            <div class="office_hours">
              <h6>Office hours</h6>
              <p>
                <% @site.hours['office'].each do |hours| %>
                    <%= hours %><br>
                <% end %>
              </p>
            </div>

            <div class="access_hours">
              <h6>Access hours</h6>
              <p>
                <% @site.hours['access'].each do |hours| %>
                    <%= hours %><br>
                <% end %>
              </p>
            </div>
          </section>
        </article>
        <article class="tab-pane mobile-tab" id="map">
          <%= react_component('StorageMap', { storage: @site }) %>
        </article>
        <article class="tab-pane" id="reviews">
          <%= react_component('StorageReviews', { placeId: @site.place_id }) %>

          <section class="links_to_reviews">
            <a target="_blank" href="<%= @site.link_to_google_reviews %>">See Google reviews</a>
            <a target="_blank" href="<%= @site.link_to_yelp %>">See Yelp reviews</a>
          </section>
        </article>
      </div>
    </section>
  </div><!-- /container-fluid -->

  <article class="descriptions">
    <div class="description_1">
      <div class="text">
        <%= @site.description_1.html_safe %>
      </div>
      <%= image_tag "locations/show/descriptions/1.jpg" %>
    </div>
    <div class="description_2">
      <%= image_tag "locations/show/descriptions/#{@site.slug}/2.jpg" %>
      <div class="text">
        <%= @site.description_2.html_safe %>
      </div>
    </div>
  </article>
</main>

<%= render 'common/sizing_guide_modal' %>
<%= render 'common/more_details_modal' %>

<%= content_for :title_tag, "Self Storage Units #{@site.title} #{@site.area.title} | Treasure Island Storage" %>
<%= content_for :meta_description_tag, "Looking for self storage units in #{@site.title} #{@site.area.title}? Treasure Island Storage offers clean and affordable storage to fit any need. Reserve today!" %>
