Dear <%= @cart.account.name %>:<br><br>
Thank you for reserving a unit with Treasure Island <%= @cart.site.title %>. We make storage easy. It’s quite simple, you treasure your items, we value your business.<br><br>

The next steps to complete your reservation includes:
<ul>
  <li><b>Your storage consultant will contact you shortly to confirm the details of this reservation and answer any questions you might have.</b></li>
  <li><b>Letting us help you arrange moving services, if needed.</b></li>
  <li><b>Completing the Occupancy Agreement.</b></li>
  <li><b>Selecting your access code.</b></li>
  <li><b>Completing the StorSafe Agreement.</b></li>
  <li><b>Remembering to bring a form of Government ID with you.</b></li>
  <li><b>Signing up for automatic payment.</b></li>
  <li><b>Arriving at least 30 minutes before closing time.</b></li>
</ul>
We also stock a full line of packing supplies and boxes that can be purchased online or on-site.<br><br>
Refer a friend to receive a $50 credit.<br><br>
<%= content_for(:footer) do %>
<strong>Treasure Island Storage - <%= @cart.site.title %></strong><br/>
<%= @cart.site.address_1 %><br/>
<%= @cart.site.city_state_and_zip %><br/><br/>
<%= @cart.site.phone %><br/>
<%= @cart.site.email %><br/><br/>
<%= @cart.site.hours[:office].join("<br/>").html_safe %>
<% end %>
<%= content_for(:prefooter) do %>
<!--== 3 COLUMNS MODULE = INVOICE NO == INVOICE DATE == INVOICE TOTAL ==-->
<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#214099" style="table-layout:fixed;margin:0 auto;">
  <tr>
    <td align="center">
      <table width="668" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#214099" class="table600Min" style="table-layout:fixed;margin:0 auto;min-width:668px;">
        <tr>
          <td align="center" class="table600st" style="min-width:668px;">
            <table width="629" align="center" cellpadding="0" cellspacing="0" border="0" class="table600Min" style="min-width:629px;">
              <tr>
                <td class="table600st" style="min-width:629px;">
                  <table width="629" bgcolor="#fdfdfd" align="left" cellpadding="0" cellspacing="0" border="0" class="table600">
                    <tr>
                      <td align="left">
                        <table align="center" bgcolor="#fdfdfd" cellpadding="0" cellspacing="0" border="0" style="border-bottom:1px solid #dde5f1;">
                          <tr>
                            <th width="209" class="stack" style="margin:0; padding:0;vertical-align:top;">
                              <table width="209" align="center" cellpadding="0" cellspacing="0" border="0" class="table6003" style="border-bottom-color:#dde5f1;">
                                <tr>
                                  <td colspan="3" height="25" style="font-size:0;line-height:0;">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td width="30" class="wz"></td>
                                  <td valign="top" align="center">
                                    <table width="145" align="left" cellpadding="0" cellspacing="0" border="0" class="tableTxt">
                                      <tr>
                                        <!--ICON image here 20 x 20-->
                                        <td rowspan="2" width="25" align="center" valign="top" style="line-height:1px;">
                                          <%= image_tag("mailer/map.png", style: "display:block;", alt: "IMG", border: "0", hspace: "0", vspace: "0") %>
                                        </td>
                                        <td rowspan="2" width="14" style="font-size:0;line-height:0;">&nbsp;</td>
                                        <!--Invoice No-->
                                        <td valign="top" class="header2TD" align="left" style="color: #e4001b;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;">Location</td>
                                      </tr>
                                      <tr>
                                        <!--Number-->
                                        <td valign="top" class="RegularText4TD" align="left" style="color: #425065;font-family: sans-serif;font-size: 12px;font-weight: bold;text-align: left;line-height: 23px;"><%= @cart.site.title %></td>
                                      </tr>
                                      <tr>
                                        <td colspan="3" height="25" style="font-size:0;line-height:0;">&nbsp;</td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="30" class="wz"></td>
                                </tr>
                              </table>
                            </th>
                            <th width="209" class="stack" style="border-left:1px solid #dde5f1;margin:0; padding:0;vertical-align:top;">
                              <table width="209" align="center" cellpadding="0" cellspacing="0" border="0" class="table6003" style="border-bottom-color:#dde5f1;">
                                <tr>
                                  <td colspan="3" height="25" style="font-size:0;line-height:0;">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td width="30" class="wz"></td>
                                  <td valign="top" align="center">
                                    <table width="145" align="left" cellpadding="0" cellspacing="0" border="0" class="tableTxt">
                                      <tr>
                                        <!--ICON image here 20 x 20-->
                                        <td rowspan="2" width="25" align="center" valign="top" style="line-height:1px;">
                                          <%= image_tag("mailer/phone.png", style: "display:block;", alt: "IMG", border: "0", hspace: "0", vspace: "0") %>
                                        </td>
                                        <td rowspan="2" width="14" style="font-size:0;line-height:0;">&nbsp;</td>
                                        <!--Invoice Date-->
                                        <td valign="top" class="header2TD" align="left" style="color: #e4001b;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;">Location Phone</td>
                                      </tr>
                                      <tr>
                                        <!--Date-->
                                        <td valign="top" class="RegularText4TD" align="left" style="color: #425065;font-family: sans-serif;font-size: 12px;font-weight: bold;text-align: left;line-height: 23px;"><%= @cart.site.phone %></td>
                                      </tr>
                                      <tr>
                                        <td colspan="3" height="25" style="font-size:0;line-height:0;">&nbsp;</td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="30" class="wz"></td>
                                </tr>
                              </table>
                            </th>
                            <th width="209" class="stack" style="border-left:1px solid #dde5f1;margin:0; padding:0;vertical-align:top;">
                              <table width="209" align="center" cellpadding="0" cellspacing="0" border="0" class="table600" style="border-bottom-color:#dde5f1;">
                                <tr>
                                  <td colspan="3" height="25" style="font-size:0;line-height:0;">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td width="30" class="wz"></td>
                                  <td valign="top" align="center">
                                    <table width="145" align="left" cellpadding="0" cellspacing="0" border="0" class="tableTxt">
                                      <tr>
                                        <!--ICON image 20 x 20-->
                                        <td rowspan="2" width="25" align="center" valign="top" style="line-height:1px;">
                                          <%= image_tag("mailer/calendar.png", style: "display:block;", alt: "IMG", border: "0", hspace: "0", vspace: "0") %>
                                        </td>
                                        <td rowspan="2" width="14" style="font-size:0;line-height:0;">&nbsp;</td>
                                        <!--Invoice Total-->
                                        <td valign="top" class="header2TD" align="left" style="color: #e4001b;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;">Date Needed</td>
                                      </tr>
                                      <tr>
                                        <!--Invoice Total-->
                                        <td valign="top" class="RegularText4TD" align="left" style="color: #425065;font-family: sans-serif;font-size: 12px;font-weight: bold;text-align: left;line-height: 23px;"><%= @cart.move_in_date %></td>
                                      </tr>
                                      <tr>
                                        <td colspan="3" height="25" style="font-size:0;line-height:0;">&nbsp;</td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="30" class="wz"></td>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--END OF THE MODULE-->
<!--== 3 COLUMNS MODULE = INVOICE NO == INVOICE DATE == INVOICE TOTAL ==-->
<table width="100%" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#214099" style="table-layout:fixed;margin:0 auto;">
  <tr>
    <td align="center">
      <table width="668" align="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#214099" class="table600Min" style="table-layout:fixed;margin:0 auto;min-width:668px;">
        <tr>
          <td align="center" class="table600st" style="min-width:668px;">
            <table width="629" align="center" cellpadding="0" cellspacing="0" border="0" class="table600Min" style="min-width:629px;">
              <tr>
                <td class="table600st" style="min-width:629px;">
                  <table width="629" bgcolor="#fdfdfd" align="left" cellpadding="0" cellspacing="0" border="0" class="table600">
                    <tr>
                      <td align="left">
                        <table align="center" bgcolor="#fdfdfd" cellpadding="0" cellspacing="0" border="0" style="border-bottom:1px solid #dde5f1;">
                          <tr>
                            <th width="209" class="stack" style="margin:0; padding:0;vertical-align:top;">
                              <table width="209" align="center" cellpadding="0" cellspacing="0" border="0" class="table6003" style="border-bottom-color:#dde5f1;">
                                <tr>
                                  <td colspan="3" height="25" style="font-size:0;line-height:0;">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td width="30" class="wz"></td>
                                  <td valign="top" align="center">
                                    <table width="145" align="left" cellpadding="0" cellspacing="0" border="0" class="tableTxt">
                                      <tr>
                                        <!--ICON image here 20 x 20-->
                                        <td rowspan="2" width="25" align="center" valign="top" style="line-height:1px;">
                                          <%= image_tag("mailer/size.png", style: "display:block;", alt: "IMG", border: "0", hspace: "0", vspace: "0") %>
                                        </td>
                                        <td rowspan="2" width="14" style="font-size:0;line-height:0;">&nbsp;</td>
                                        <!--Invoice No-->
                                        <td valign="top" class="header2TD" align="left" style="color: #e4001b;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;">Unit Size</td>
                                      </tr>
                                      <tr>
                                        <!--Number-->
                                        <td valign="top" class="RegularText4TD" align="left" style="color: #425065;font-family: sans-serif;font-size: 12px;font-weight: bold;text-align: left;line-height: 23px;"><%= @cart.unit.dimensions %></td>
                                      </tr>
                                      <tr>
                                        <td colspan="3" height="25" style="font-size:0;line-height:0;">&nbsp;</td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="30" class="wz"></td>
                                </tr>
                              </table>
                            </th>
                            <th width="209" class="stack" style="border-left:1px solid #dde5f1;margin:0; padding:0;vertical-align:top;">
                              <table width="209" align="center" cellpadding="0" cellspacing="0" border="0" class="table6003" style="border-bottom-color:#dde5f1;">
                                <tr>
                                  <td colspan="3" height="25" style="font-size:0;line-height:0;">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td width="30" class="wz"></td>
                                  <td valign="top" align="center">
                                    <table width="145" align="left" cellpadding="0" cellspacing="0" border="0" class="tableTxt">
                                      <tr>
                                        <!--ICON image here 20 x 20-->
                                        <td rowspan="2" width="25" align="center" valign="top" style="line-height:1px;">
                                          <%= image_tag("mailer/price.png", style: "display:block;", alt: "IMG", border: "0", hspace: "0", vspace: "0") %>
                                        </td>
                                        <td rowspan="2" width="14" style="font-size:0;line-height:0;">&nbsp;</td>
                                        <!--Invoice Date-->
                                        <td valign="top" class="header2TD" align="left" style="color: #e4001b;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;">Unit Price</td>
                                      </tr>
                                      <tr>
                                        <!--Date-->
                                        <td valign="top" class="RegularText4TD" align="left" style="color: #425065;font-family: sans-serif;font-size: 12px;font-weight: bold;text-align: left;line-height: 23px;"><%= number_to_currency(@cart.unit.street_rate) %></td>
                                      </tr>
                                      <tr>
                                        <td colspan="3" height="25" style="font-size:0;line-height:0;">&nbsp;</td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="30" class="wz"></td>
                                </tr>
                              </table>
                            </th>
                            <th width="209" class="stack" style="border-left:1px solid #dde5f1;margin:0; padding:0;vertical-align:top;">
                              <table width="209" align="center" cellpadding="0" cellspacing="0" border="0" class="table600" style="border-bottom-color:#dde5f1;">
                                <tr>
                                  <td colspan="3" height="25" style="font-size:0;line-height:0;">&nbsp;</td>
                                </tr>
                                <tr>
                                  <td width="30" class="wz"></td>
                                  <td valign="top" align="center">
                                    <table width="145" align="left" cellpadding="0" cellspacing="0" border="0" class="tableTxt">
                                      <tr>
                                        <!--ICON image 20 x 20-->
                                        <td rowspan="2" width="25" align="center" valign="top" style="line-height:1px;">
                                          <%= image_tag("mailer/promotion.png", style: "display:block;", alt: "IMG", border: "0", hspace: "0", vspace: "0") %>
                                        </td>
                                        <td rowspan="2" width="14" style="font-size:0;line-height:0;">&nbsp;</td>
                                        <!--Invoice Total-->
                                        <td valign="top" class="header2TD" align="left" style="color: #e4001b;font-family: sans-serif;font-size: 14px;text-align: left;line-height: 19px;font-weight: lighter;">Promotion</td>
                                      </tr>
                                      <tr>
                                        <!--Invoice Total-->
                                        <td valign="top" class="RegularText4TD" align="left" style="color: #425065;font-family: sans-serif;font-size: 12px;font-weight: bold;text-align: left;line-height: 23px;">1st Month Free</td>
                                      </tr>
                                      <tr>
                                        <td colspan="3" height="25" style="font-size:0;line-height:0;">&nbsp;</td>
                                      </tr>
                                    </table>
                                  </td>
                                  <td width="30" class="wz"></td>
                                </tr>
                              </table>
                            </th>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--END OF THE MODULE-->
<% end %>
