<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title_tag) ? yield(:title_tag) : 'TI Storage' %></title>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if content_for?(:meta_description_tag) %>
      <meta name="description" content="<%= yield(:meta_description_tag) %>"/>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %>_controller <%= action_name %>_action">
    <%= render partial: 'layouts/in_application/header' %>
    <%= yield %>
    <%= render partial: 'layouts/in_application/footer' %>

    <script data-turbolinks-eval=false>
      const GOOGLE_MAPS_API_KEY = "<%= ENV['GOOGLE_MAPS_API_KEY'] %>";
    </script>

    <script data-turbolinks-eval=false type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places"></script>

    <!-- live chat -->
    <script data-turbolinks-eval=false type="text/javascript">
      window.__lc = window.__lc || {};
      window.__lc.license = 6496151;
      (function() {
        var lc = document.createElement('script');
        lc.type = 'text/javascript';
        lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(lc, s); }
      )(); 
    </script>

    <!-- google analitics code -->
    <script data-turbolinks-eval=false type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','https://www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-7830809-1', 'auto'); ga('send', 'pageview');
    </script> 
    <script  data-turbolinks-eval=false type="text/javascript">
      !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n; n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '1374409356212770', { em: 'insert_email_variable,' }); fbq('track', 'PageView');
    </script>
    <script  data-turbolinks-eval=false type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
  </body>
</html>
