<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-6 push-lg-7 contact_us">
        <h5>Contact Us</h5>

        <div class="email_us">
          <div class="row">
            <div class="col-xs-4 action">
              <%= link_to 'Email Us', [:contact] %>
            </div>
          </div>
        </div>
        <div class="call_us">
          <div class="row">
            <div class="col-xs-4 action">
              Call Us
            </div>
            <div class="col-xs-8">
              646-846-9449 <br>
              (Hours 9am-7pm)
            </div>
          </div>
        </div>

        <%= render(partial: 'common/social_icons') %>
      </div>

      <div class="col-lg-2 col-sm-6 push-lg-7 live_chat">
        <div class="button blue" onclick="LC_API.open_chat_window();">
          <%= image_tag '_common/live-chat-icn_white.svg' %>
          Live Chat
        </div>
      </div>

      <div class="col-lg-4 col-xs-12 pull-lg-5 about">
        <h5>About TI Storage</h5>
        <p>
          Treasure Island Storage is a family business that began in the late 90's with the goal of providing safe and secure storage services for residents and businesses in the communities in which we live. In the past 15 years we've done exactly that, emerging as the fastest growing provider of quality Self Storage in the New Jersey and New York metro area.
        </p>
        <div class="rights">
          2017 &copy; TI Storage
        </div>
      </div>

      <div class="col-lg-3 col-xs-12 pull-lg-5 navigation">
        <nav>
          <%= link_to 'Locations', locations_path %>
          <%= link_to 'Storage Solutions', storage_solutions_path %>
          <%= link_to 'TI Commercial Spaces', commercial_storage_path %>
          <%= link_to 'TI Art Studios', art_storage_path %>
          <%= link_to 'Blog', '/blog' %>
          <%= link_to 'Contact Us', [:contact] %>
          <%= link_to 'FAQ', [:faq] %>
        </nav>
      </div>
    </div>

    <div class="row footnote">
      <div class="col-lg-8 offset-lg-2">
        <p class="part_1">
          *Subject to change. Offered only on selected units. Subject to availability. This offer applies only to the rental fee. Other restrictions, taxes, and fees, including an administrative fee, apply. See contract for full details. Promotions good for new customers only. Not available on transfers or additional spaces. Pricing subject to change. Reservation required to guarantee price. Actual unit sizes may vary from approximate size estimate. Please inspect any unit before renting. Online pricing available only for online reservations and rentals. Not sure about the size you need? Don't worry, online pricing discount will be honored for any rental originating from an online reservation.
        </p>

        <p class="part_2">
          1 Actual unit sizes may vary from approximate size estimate. Please inspect any unit before renting. Promotions good for new customers only. Not available on transfer or additional spaces. Above prices based on availability and subject to change. Reservation required to guarantee price. Restrictions, taxes and fees may apply.
        </p>
      </div>
    </div>
  </div>
</footer>
